<h2>👩‍💻 Data Profil Pengembang Frontend</h2>

<div>
    <p><strong>Nama Lengkap:</strong> {{ frontendDev.fullName }}</p>
    <p><strong>Pengalaman:</strong> {{ frontendDev.experience }} Tahun</p>
    <p><strong>Pekerjaan Sebelumnya:</strong> {{ frontendDev.previousJob }}</p>
</div>

---

<h2>👨‍💻 Data Profil Pengembang Backend</h2>

<div>
    <p><strong>Nama Lengkap:</strong> {{ backendDev.fullName }}</p>
    <p><strong>Pengalaman:</strong> {{ backendDev.experience }} Tahun</p>
    <p><strong>Pekerjaan Sebelumnya:</strong> {{ backendDev.previousJob }}</p>  
</div>